In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a':[4,5,6], 
                   'b':[7,8,9], 
                   'c':[10,11,12]}, 
                  index = [1,2,3])

# list 형태의 데이터 : 판다스에서 series라 함
# dictionary 형태로 지정

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [5]:
df['b']

1    7
2    8
3    9
Name: b, dtype: int64

In [6]:
df['c']

1    10
2    11
3    12
Name: c, dtype: int64

In [7]:
df[['a','b']]

   a  b
1  4  7
2  5  8
3  6  9

In [9]:
df.loc[1] # row data 보기

a     4
b     7
c    10
Name: 1, dtype: int64

In [10]:
df.loc[2]

a     5
b     8
c    11
Name: 2, dtype: int64

In [11]:
df.loc[3,"a"]

6

In [12]:
df.loc[[1,2],['a','b']] # 행, 열 순서

   a  b
1  4  7
2  5  8

In [13]:
df = pd.DataFrame({'a':[4,5,6], 
                   'b':[7,8,9], 
                   'c':[10,11,12]}, 
                  index = [1,2,3],
                  columns = ['a','b','c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [14]:
import numpy as np

In [15]:
df = pd.DataFrame({'a':[4,5,6,6,np.nan], 
                   'b':[7,8,np.nan,9,9], 
                   'c':[10,11,12,np.nan,12]}, 
                  index = pd.MultiIndex.from_tuples(
                      [('d',1),('d',2),('e',2),('e',3),('e',4)],
                      names = ['n','v']))
df
# index를 tuple 형태의 multi-index로 만들어 줌

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

## 리스트와 튜플의 차이
- 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.