### assign으로 새로운 컬럼 만들기

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A':range(1,11), 'B':np.random.randn(10)})
df

    A         B
0   1  0.847857
1   2 -0.510822
2   3 -0.842400
3   4 -0.093302
4   5  0.753803
5   6 -0.759204
6   7  1.122066
7   8 -0.935136
8   9  0.290654
9  10  0.442701

In [ ]:
df.assign?
# Assign new columns to a DataFrame

In [4]:
df.assign(ln_A = lambda x: np.log(x.A))

    A         B      ln_A
0   1  0.847857  0.000000
1   2 -0.510822  0.693147
2   3 -0.842400  1.098612
3   4 -0.093302  1.386294
4   5  0.753803  1.609438
5   6 -0.759204  1.791759
6   7  1.122066  1.945910
7   8 -0.935136  2.079442
8   9  0.290654  2.197225
9  10  0.442701  2.302585

In [5]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  0.847857  0.000000
1  2 -0.510822  0.693147
2  3 -0.842400  1.098612
3  4 -0.093302  1.386294
4  5  0.753803  1.609438

In [6]:
df['ln_A'] = np.log(df.A)

In [7]:
df['ln_A']

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
5    1.791759
6    1.945910
7    2.079442
8    2.197225
9    2.302585
Name: ln_A, dtype: float64

In [8]:
df

    A         B      ln_A
0   1  0.847857  0.000000
1   2 -0.510822  0.693147
2   3 -0.842400  1.098612
3   4 -0.093302  1.386294
4   5  0.753803  1.609438
5   6 -0.759204  1.791759
6   7  1.122066  1.945910
7   8 -0.935136  2.079442
8   9  0.290654  2.197225
9  10  0.442701  2.302585

### qcut으로 binning, bucketing gkrl

In [ ]:
pd.qcut?

In [9]:
pd.qcut(df.A, 3, labels=['good','median','bad'])

0      good
1      good
2      good
3      good
4    median
5    median
6    median
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'median' < 'bad']

In [10]:
pd.qcut(df.A, 2, labels=['good','bad'])

0    good
1    good
2    good
3    good
4    good
5     bad
6     bad
7     bad
8     bad
9     bad
Name: A, dtype: category
Categories (2, object): ['good' < 'bad']

- max(axis=1)/min(axis=1)

In [11]:
df.max(axis=0) # 행에서의 최대값

A       10.000000
B        1.122066
ln_A     2.302585
dtype: float64

In [13]:
df.min(axis=0) # 행에서의 최소값

A       1.000000
B      -0.935136
ln_A    0.000000
dtype: float64

- clip()

In [16]:
df

    A         B      ln_A
0   1  0.847857  0.000000
1   2 -0.510822  0.693147
2   3 -0.842400  1.098612
3   4 -0.093302  1.386294
4   5  0.753803  1.609438
5   6 -0.759204  1.791759
6   7  1.122066  1.945910
7   8 -0.935136  2.079442
8   9  0.290654  2.197225
9  10  0.442701  2.302585

In [14]:
df['A'].clip(lower = -10, upper=10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [15]:
df['B'].clip(lower=1, upper=3)

0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.122066
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

- abs()

In [19]:
df['B']

0    0.847857
1   -0.510822
2   -0.842400
3   -0.093302
4    0.753803
5   -0.759204
6    1.122066
7   -0.935136
8    0.290654
9    0.442701
Name: B, dtype: float64

In [18]:
df['B'].abs() # 절대값으로 변환

0    0.847857
1    0.510822
2    0.842400
3    0.093302
4    0.753803
5    0.759204
6    1.122066
7    0.935136
8    0.290654
9    0.442701
Name: B, dtype: float64