## W4 3. 데이터 합치기 Pandas concat

In [1]:
import pandas as  pd

### pd.concat(데이터 프레임 합치기)

In [2]:
pd.concat?

In [3]:
s1 = pd.Series(['a','b'])
s1

0    a
1    b
dtype: object

In [4]:
s2 = pd.Series(['c','d'])
s2

0    c
1    d
dtype: object

In [5]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [6]:
pd.concat([s1, s2], keys = ['s1','s2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [7]:
pd.concat([s1, s2], keys = ['s1','s2'], names = ['Series name','Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [9]:
df1 = pd.DataFrame([['a',1],['b',2]],
                  columns = ['letter','number'])
df1

  letter  number
0      a       1
1      b       2

In [10]:
df2 = pd.DataFrame([['c',3],['d',4]],
                  columns = ['letter','number'])
df2

  letter  number
0      c       3
1      d       4

In [12]:
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [13]:
df3 = pd.DataFrame([['c',3,'cat'],['d',4,'dog']],
                  columns = ['letter','number','animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [14]:
pd.concat([df1, df3])
# 크기가 다른 데이터프레임 합치기

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [15]:
pd.concat([df1, df3], join = 'inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [17]:
pd.concat([df1,df3], sort = True)
# sort : boolean, default None
# join : {'inner','outer'}, default 'outer'

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [18]:
df4 = pd.DataFrame([['bird','polly'],['monkey','george']],
                  columns = ['animal','name']) # names 대신 columns 사용
df4

   animal    name
0    bird   polly
1  monkey  george

In [19]:
df5 = pd.DataFrame([1],index = ['a'])
df5

   0
a  1

In [20]:
df6 = pd.DataFrame([2], index = ['a'])
df6

   0
a  2

In [21]:
pd.concat([df5, df6], verify_integrity=True)
# key 값 중복, verify_integrity = True(검증)

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')

In [ ]:
# ValueError: Indexes have overlapping values: ['a']
# pd.concat([df5, df6], verify_integrity = True)