In [1]:
'abc'.upper()

'ABC'

In [2]:
'a/b/c'.split('/')[1]

'b'

In [3]:
l1 = ['abc','def']
l2 = ['a/b/c','d/e/f']

In [5]:
list(map(lambda x: x.upper(), l1))

['ABC', 'DEF']

In [6]:
list(map(lambda x: x.split('/'),l2))

[['a', 'b', 'c'], ['d', 'e', 'f']]

In [8]:
from pandas import Series, DataFrame

In [9]:
s1 = Series(l1)
s2 = Series(l2)

In [10]:
s2.str.split('/')

0    [a, b, c]
1    [d, e, f]
dtype: object

In [11]:
s1.str.upper()

0    ABC
1    DEF
dtype: object

In [12]:
s1.str.title()

0    Abc
1    Def
dtype: object

In [13]:
s1.str.replace('a','A')

0    Abc
1    def
dtype: object

In [14]:
s3 = Series(['1,200','3,000','4,000'])

In [17]:
s3.map(lambda x: int(x.replace(',',''))).sum()

8200

In [18]:
s1.str.startswith('a')

0     True
1    False
dtype: bool

In [21]:
s1[s1.str.endswith('c')]

0    abc
dtype: object

In [23]:
s1.str.contains('b')

0     True
1    False
dtype: bool

In [24]:
s1.str.len()

0    3
1    3
dtype: int64

In [25]:
s4 = Series(['drwill@naver.com','zzuyu@drwill.kr'])

In [26]:
vno = s4.str.find("@")
vno

0    6
1    5
dtype: int64

In [27]:
list(map(lambda x,y : x[:y],s4,vno))

['drwill', 'zzuyu']

In [30]:
s4.map(lambda x: x[:x.find('@')])

0    drwill
1     zzuyu
dtype: object

In [31]:
s1.str.pad(5,'right','^')

0    abc^^
1    def^^
dtype: object

In [32]:
s5 = Series(['I love you','You know'])
s5.str.pad(20,'right','^')

0    I love you^^^^^^^^^^
1    You know^^^^^^^^^^^^
dtype: object

In [33]:
s5= Series(['abc','def','123'])
s5

0    abc
1    def
2    123
dtype: object

In [34]:
s5.str.cat()

'abcdef123'

In [36]:
s5.str.cat(sep='-')

'abc-def-123'

In [37]:
s6 = Series([['a','b','c'],['d','e','f']])
s6

0    [a, b, c]
1    [d, e, f]
dtype: object

In [38]:
s6.str.join('')

0    abc
1    def
dtype: object

In [39]:
Series(['abc','def'],index=['first','second'])

first     abc
second    def
dtype: object

In [40]:
s3 = Series([1,2,3,4], index=['a','b','c','d'])

In [41]:
s3

a    1
b    2
c    3
d    4
dtype: int64

In [42]:
s3['a']

1

In [44]:
s3[['a','c']]

a    1
c    3
dtype: int64

In [47]:
s3[[0,2]]

a    1
c    3
dtype: int64

In [48]:
s3['a':'c']

a    1
b    2
c    3
dtype: int64

In [50]:
s1 = Series([1,2,3,4])
s1 > 2

0    False
1    False
2     True
3     True
dtype: bool

In [51]:
s3.b

2

In [52]:
s1 + 1
s4 = Series([10,20,30,40])
s5 = Series([10,20,30,40],index=['c','d','e','f'])

In [53]:
s1 + s4

0    11
1    22
2    33
3    44
dtype: int64

In [55]:
s3 + s5

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [56]:
s1.dtype

dtype('int64')

In [57]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [59]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [60]:
s3

a    1
b    2
c    3
d    4
dtype: int64

In [61]:
s3.index = ['A','B','C','D']

In [62]:
s3

A    1
B    2
C    3
D    4
dtype: int64

In [63]:
s3[['B','C','A','D']]

B    2
C    3
A    1
D    4
dtype: int64

In [64]:
d1 = {'name':['smith','will'],'sal':[900,1800]}
d1

{'name': ['smith', 'will'], 'sal': [900, 1800]}

In [65]:
d2 = DataFrame(d1)

In [66]:
d2

    name   sal
0  smith   900
1   will  1800

In [68]:
import numpy as np

In [69]:
d3 = DataFrame(np.arange(1,7).reshape(2,3),index=['a','b'],columns=['col1','col2','col3'])

In [70]:
d3

   col1  col2  col3
a     1     2     3
b     4     5     6

In [76]:
d3.loc[:,'col1']

a    1
b    4
Name: col1, dtype: int32

In [77]:
d3.loc[d3.col1 == 1, :]

   col1  col2  col3
a     1     2     3

In [80]:
d3.dtypes

col1    int32
col2    int32
col3    int32
dtype: object

In [81]:
d3.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [82]:
d3.values

array([[1, 2, 3],
       [4, 5, 6]])

In [83]:
d3 + 10

   col1  col2  col3
a    11    12    13
b    14    15    16

In [84]:
d4 = DataFrame({'A':[10,40],'B':[20,30],'C':[30,80]},index=['a','b'])
d5 = DataFrame({'A':[10,40],'B':[20,30]},index=['a','b'])

In [86]:
d4 = DataFrame({'A':[10,40],'B':[20,30],'C':[30,80]},index=['a','b'])
d4

    A   B   C
a  10  20  30
b  40  30  80

In [95]:
d4 = DataFrame({'A':[10,40],'B':[20,30],'C':[30,80]})

In [96]:
d4

    A   B   C
0  10  20  30
1  40  30  80

In [97]:
d3.add(d5,fill_value=0)

      A     B  col1  col2  col3
a  10.0  20.0   1.0   2.0   3.0
b  40.0  30.0   4.0   5.0   6.0