# Pandas 라이브러리 import
* pandas는 외부 패키지이지만 아나콘다에 기본적으로 설치되어 제공되기 때문에 별도 설치할 필요가 없다.
* pandas는 관용적으로 pd라는 별칭을 사용한다.

In [1]:
import pandas as pd

# 데이터프레임 만들기
* 데이터프레임 : 엑셀의 시트(sheet)와 동일한 개념이다. (2차원 표 형태)

## 리스트로 만들기
* pd.DataFrame(2차원리스트, columns=컬럼리스트, index=인덱스리스트)
* 행 단위로 데이터프레임이 생성된다.
* 컬럼, 인덱스를 지정하지 않으면 디폴트로 0부터 시작하는 숫자가 지정된다.

In [5]:
df = pd.DataFrame(
    [['james',30,'programmer'],
    ['amy',20,'student'],
    ['david',25,'designer']],
    columns = ['name','age','job'],
    index = ['a','b','c']
    )
df

    name  age         job
a  james   30  programmer
b    amy   20     student
c  david   25    designer

## 딕셔너리로 만들기
* pd.DataFrame(딕셔너리, index=인덱스리스트)
* 딕셔너리는 {컬럼명1:컬럼값리스트, 컬럼명2:컬럼값리스트...}
* 컬럼 단위로 데이터프레임이 생성된다.
* 딕셔너리의 키가 컬럼명이 된다.
* 인덱스를 지정하지 않으면 디폴트로 0부터 시작하는 숫자가 지정된다.

In [6]:
{'name':['james','amy','david'],
 'age':[30,20,25],
 'job':['programmer','student','designer']
}

df = pd.DataFrame(
    {'name':['james','amy','david'],
     'age':[30,20,25],
     'job':['programmer','student','designer']
    },
    index = ['a','b','c']
)
df

    name  age         job
a  james   30  programmer
b    amy   20     student
c  david   25    designer

## csv 파일에서 데이터를 읽어와 만들기
* pd.read_csv(파일경로)
* csv파일은 utf-8 형식이어야 한다.

In [9]:
#df = pd.read_csv('scores.csv')
df = pd.read_csv('emp.csv')
df

   empno  ename  deptno   sal
0      1  smith      10  4000
1      2  allen      10  4500
2      3   ford      20  4300
3      4  grace      10  4200
4      5  scott      30  4100
5      6   king      20  4000