# Homework Week 1

## Numpy & Pandas HW

#### 1. 주어진 DataFrame 컬럼 순서 바꾸기 (서로 다른 종류 3가지 이상)
- iloc, loc, append, concat 함수 또는 컬럼 인덱싱으로 DataFrame의 컬럼 순서를 바꿔보세요. Numpy 행렬로 변환했다가 DataFrame으로 만드셔도 됩니다.

In [1]:
from os.path import join

import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.uniform(0, 1, size=(10, 3)), columns=['A', 'B', 'C'])
df

          A         B         C
0  0.158921  0.601053  0.751396
1  0.563394  0.099213  0.139086
2  0.317210  0.412797  0.751086
3  0.567281  0.669117  0.373708
4  0.238285  0.908060  0.481143
5  0.649004  0.786212  0.431935
6  0.779897  0.864169  0.245617
7  0.337587  0.819227  0.302002
8  0.221484  0.064485  0.788724
9  0.430231  0.920977  0.950163

In [16]:
# 1
cols = df.columns[[1,2,0]]
df[cols]

          B         C         A
0  0.601053  0.751396  0.158921
1  0.099213  0.139086  0.563394
2  0.412797  0.751086  0.317210
3  0.669117  0.373708  0.567281
4  0.908060  0.481143  0.238285
5  0.786212  0.431935  0.649004
6  0.864169  0.245617  0.779897
7  0.819227  0.302002  0.337587
8  0.064485  0.788724  0.221484
9  0.920977  0.950163  0.430231

In [25]:
# 2
df.loc[:,['B','C','A']]

          B         C         A
0  0.601053  0.751396  0.158921
1  0.099213  0.139086  0.563394
2  0.412797  0.751086  0.317210
3  0.669117  0.373708  0.567281
4  0.908060  0.481143  0.238285
5  0.786212  0.431935  0.649004
6  0.864169  0.245617  0.779897
7  0.819227  0.302002  0.337587
8  0.064485  0.788724  0.221484
9  0.920977  0.950163  0.430231

In [61]:
# 3
df.iloc[:,[1,2,0]]

          B         C         A
0  0.601053  0.751396  0.158921
1  0.099213  0.139086  0.563394
2  0.412797  0.751086  0.317210
3  0.669117  0.373708  0.567281
4  0.908060  0.481143  0.238285
5  0.786212  0.431935  0.649004
6  0.864169  0.245617  0.779897
7  0.819227  0.302002  0.337587
8  0.064485  0.788724  0.221484
9  0.920977  0.950163  0.430231

#### 2. 주어진 행렬의 각 원소 값을 해당 열의 평균 값으로 빼기
- Numpy.mean() 함수와 브로드캐스팅 기능 사용

In [62]:
A = np.array(np.random.randint(0, 5, size=(5, 6)))
A

array([[1, 2, 4, 4, 1, 0],
       [4, 2, 3, 0, 0, 3],
       [0, 4, 2, 3, 1, 2],
       [2, 1, 1, 2, 0, 2],
       [0, 2, 1, 3, 0, 1]])

In [64]:
mean = np.mean(A, axis = 1)
mean

array([2.        , 2.        , 2.        , 1.33333333, 1.16666667])

In [66]:
np.diff(A-mean)

ValueError: operands could not be broadcast together with shapes (5,6) (5,)