## 1. 출력과 입력 그리고 변수

In [2]:
# print() 함수로 출력하기
print("hello world")

hello world

In [4]:
# 변수
name = "파이쏭"
print(name)
print(name+"님! 안녕하세요!") # '+'기호 : 문자열과 문자열 사이에 있을 때 연결

파이쏭
파이쏭님! 안녕하세요!

In [6]:
# input()
name = input('이름을 입력해주세요 : ')
print(name+"님! 안녕하세요!")

이름을 입력해주세요 : 룰루
룰루님! 안녕하세요!

In [9]:
age = input('나이를 입력해주세요! : ')
print(int(age)-4)

나이를 입력해주세요! : 26
22

In [8]:
name = input('이름을 입력해주세요 : ')
age = int(input('나이를 입력해주세요! : '))
print("안녕하세요!", name+"님! 저는 처음에 " +str(age - 4)+ "살인 줄 알았어요!!")

이름을 입력해주세요 : 룰루
나이를 입력해주세요! : 26
안녕하세요! 룰루님! 저는 처음에 22살인 줄 알았어요!!

## 2. 연산자 사용하기

In [10]:
# 산술연산자
print(3 * 10)
print(3 ** 2)
print(9 % 2)  # 나머지 연산자
print(3 / 2)   # 실수 나눗셈
print(3 // 2)  # 정수 나눗셈

30
9
1
1.5
1

In [11]:
# 비교연산자
print(10 >= 3)
print(10 <= 3)
print(10 == 3)
print(10 != 3)
print(3 % 2 == 1)

True
False
False
True
True

In [15]:
# 논리연산자
print(1 == 1 and 2 != 1)
print(10 % 2 != 0 or 1 + 1 > 0)
print(not 10 > 5)

True
True
False

## 3. 함수 불러오기

`random`

In [16]:
import random
dice = random.randint(1,6)
print(dice) # random number

6

`math`

In [17]:
import math
print(math.sqrt(2))

1.4142135623730951

## 4. 반복과 선택

In [18]:
name = "파이쏭"
for i in name:
    print(i)

파
이
쏭

In [1]:
names = ['쵸파','루피','상디','조로']
for name in names:
    print(name)

쵸파
루피
상디
조로

In [2]:
for i in [0,1,2,3]:
    print(i**2)

0
1
4
9

In [3]:
# if 조건문
if 10 > 0:
    print("안녕하세요?")

안녕하세요?

In [4]:
if 10 != 0 and 5 % 2 == 1 :
    print("안녕하세요?")

안녕하세요?

In [6]:
passwd = int(input("비밀번호 4자리를 입력하세요 : "))
if passwd == 1531:
    print("비밀번호가 일치합니다.")

비밀번호 4자리를 입력하세요 : 1531
비밀번호가 일치합니다.

In [7]:
passwd = int(input("비밀번호 4자리를 입력하세요 : "))
if passwd == 1531:
    print("비밀번호가 일치합니다.")
else:
    print("_______________________")

비밀번호 4자리를 입력하세요 : 1532
_______________________

## 5. 순서 있는 저장 공간 리스트

In [9]:
names = ['쵸파','루피','상디','조로']
print(names[1])
print(names[-1])

루피
조로

In [10]:
# 리스트에 값 추가하기
names = ['쵸파','루피','상디','조로']
names.append('나미')
print(names)

['쵸파', '루피', '상디', '조로', '나미']

In [11]:
print(len(names))
print(len('data analysis for everyone'))

5
26

In [12]:
names = ['쵸파','루피','상디','조로']
names.append('해적왕')
for name in names:
    if len(name) > 2:
        print(name, "왔나요?")

해적왕 왔나요?